.gradio-button.tool {
    min-width: 2.5em !important;
    height: 2.5em !important;
    font-size: 18px;
}

.block.padded:not(.gradio-accordion) {
    padding: 8px !important;
}

#quicksettings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#txt2img_generate {
    z-index: 0;
}
#txt2img_skip {
    z-index: 1;
}
#txt2img_interrupt {
    z-index: 1;
}

#img2img_generate {
    z-index: 0;
}

#img2img_skip {
    z-index: 1;
}

#img2img_interrupt {
    z-index: 1;
}
